<!DOCTYPE html>
<html>
<title>Pushpanjali-CV</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="./pushpa1.jpg" style="width:100% " alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Pushpanjali chaurasiya</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Development</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>MAU (UP)</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>chaurasiyaPushpanjali@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9752683179</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>COMPUTER HARDWARE & 
            NETWORKING</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            </div>
          <p>Frontend</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>HTML,CSS,JAVASCRIPT, jQuery</p>
            
          </div>
          <p>Programming Language</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
           <p> Python, PHP, Node JS </p>
          </div>
          <p>Database</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>MongoDB, MySQL, PostgreSQL </p>
          </div>
          <p>Framework -</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>Bootstrap,Django,Laravel,Angular </p>
          </div>
          <p>Version control</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>Git, GitHub , Gitlab</p>
          </div>
          <p>Data Science</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>Pandas, NumPy, Seaborn,streamlit</p>
          </div>
          <p>Cloud Computing</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <p>AWS, IBM Cloud </p>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          
          <!-- <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div> -->
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Technical Qualification</h2>
        <div class="w4-container">
          <h5 class="w3-opacity"><b>ADVANCED DIPLOMA IN IT, NETWORKING & CLOUD 
            COMPUTING </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2022- <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <h6 class="w3-opacity"><b>NATIONAL SKILL TRAINING INSTITUTE, ALLAHABAD 
 </b></h6>
          <p>Advance in Information Technology is a Diploma in 
            Computer Hardware & Networking Maintenance, PC 
            Troubleshooting , Full Stack Web Developer and Cloud 
            Computing. </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>COMPUTER SOFTWARE APPLICATION (CITS)- </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>SEP 2018 - JAN 2020</h6>
          <h6 class="w3-opacity"><b>NATIONAL SKILL TRAINING INSTITUTE, Kolkata
          </b></h6>
          <p>Computer Software Application CITS trade is applicable for 
            Instructor of "COPA" and "Database System Assistant trades. 
            It consists of Trade Technology (Professional skills and 
            Professional knowledge), Training Methodology and Soft 
            skills</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>COMPUTER OPERATOR AND PROGRAMMING 
            ASSISTANT</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>SEP 2017-AUG 2018 </h6>
          <h6 class="w3-opacity"><b>NATIONAL SKILL TRAINING INSTITUTE, ALLAHABAD 
          </b></h6>
          <p>A Basic Computer training program called COPA ITI attempts 
            to teach many people technical skills. 
             </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>ADCA</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>JULY 2016</h6>
          <p>Advance Diploma in Computer Application</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>INTERMEDIATE (PCM)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>JUNE 2019-JULY 2021 </h6>
          <p>Victory Inter College Dohrighat, MAU</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>HIGH SCHOOL</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>JUNE 2015-JUNE 2016</h6>
          <p>S. S. J INTER COLLEGE MAU (U.P)</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by Pushpanjali chaurasiya</></p>
</footer>

</body>
</html>
